@charset "utf-8";
html{overflow-x:hidden;height:100%}
html,body,div,p,img,span,a,em,strong,pre,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tbody,thead,tfoot,tr,th,td,form,fieldset,legend,caption,input,textarea,button,select,object,video,iframe{margin:0;padding:0;border-radius:5px}
body{font-family:'맑은 고딕',Malgun Gothic,'돋움',dotum,'굴림',gulim,Arial,AppleGothic,verdana,sans-serif,helvetica;font-size:14px;color:#111;width:100%;height:100%}
h1,h2,h3,h4,h5,h6{font-size:14px}
img,fieldset,button{border:0}
table{border-spacing:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:link{text-decoration:none;color:#111}
a:hover{text-decoration:underline}
hr{display:none}
legend,caption,.blind{position:absolute;top:-9999px;font-size:0;line-height:0}
label{cursor:pointer}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/** common **/
h2{padding:30px 0}
h3{padding:20px 0}
.blind{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;font-size:1px;height:1px}
.btn{display:block;width:158px;height:40px;line-height:36px;font-size:16px;text-align:center;color:#1c2833;border:1px solid #1c2833;cursor:pointer;margin:30px auto}
.btn:hover{color:#fff;background:#1c2833;text-decoration:none}
.btn_main{position:absolute;top:10px;left:20px}
.m_clear{margin:0}
.t_c{text-align:center}
.cB{clear:both}
.m_t_20{margin-top:20px}
.m_b_20{margin-bottom:20px}
.p_t_20{padding-top:20px}
.p_b_20{padding-bottom:20px}
.container{width:1200px;padding:50px 20px;margin:0 auto}
@media (max-width:1200px) {
	.container{width:100%}
}
.border_layout{border-top:1px solid #111;border-bottom:1px solid #ddd;border-radius:0;padding:15px 0}
/* layer */
.layer{display:none}
.layer.on{display:block;position:absolute;right:0;min-width:300px;min-height:300px;left:0;right:0;background:#fff;border:1px solid #000;padding:20px}
.layer .close{position:absolute;top:-1px;right:-1px;display:block;border:1px solid #000;background:#fff;padding:5px}
/* header */
.header li{float:left;margin-right:15px}
.header li.setting{float:right}
.header li li{float:none}

/* 회원가입 */
.join li label{display:inline-block;width:25.64%;font-weight:normal;color:#111;padding:27px 0}
.join li input{width:280px;height:36px;border:1px solid #ddd;padding:9px 15px}
.join li span{color:#EA4836;padding:0 10px}
@media (max-width:768px) {
	.join li{position:relative;padding-bottom:30px}
	.join li input{width:100%}
	.join li label{width:100%;padding:13px 0}
	.join li span{position:absolute;padding:0;margin-top:10px}
}

/* 로그인 */
.login fieldset{width:280px;margin:0 auto;padding-top:100px}
.login label{display:none}
.login input{display:block;width:100%;height:50px;line-height:50px;border:1px solid #E0E0E0;padding:15px;margin:0 auto 10px}
.login input.btn{cursor:pointer;font-size:20px;line-height:20px;font-weight:bold}
.login ul{padding-top:10px}
.login li{float:left}
.login li:last-child{float:right}
.login li span{color:#EA4836;padding:0 10px}

/* 메인 */
.main .list{overflow:hidden}
.main .list li{float:left}
.main .list li a{display:inline-block;border:1px solid #9DA098;padding:15px;margin:0 5px 5px 0}
.main .list li li{float:none;padding:5px 0}
.main .list li.last{padding:0px}
.main .list li.last input{width:143px;height:144px}

/* 게임 */
.room{margin:0;padding:20px}
.room form input{float:left;width:100px;height:100px;cursor:pointer;margin-right:20px}
.status{clear:left;padding-top:20px}
.room_info{padding:20px 0}
.room_info li{padding:5px 0}
.box{float:left;border:1px solid #272822;margin-right:10px;padding:10px}
.box h3{padding:0;padding-bottom:10px}
.player0{color:#FF0000}
.player1{color:#0000FF}
.ball{display:inline-block;border:1px solid #34C91C;background:#34C91C;border-radius:15px;width:22px;height:22px;font-size:13px;vertical-align:1px;text-align:center;margin:0 3px;padding-right:2px}

/* board */ /* 나중에 백단에서도 접근 못하게 막아야함 */
.board{display:block;padding:63px 0}
.board h3 span{color:red;padding-left:30px}
.board table{clear:both}
.board td{position:relative;border:1px solid #272822;width:70px;height:70px;text-align:center;color:#fff}
.board td span{position:absolute;top:-2px;left:2px;font-size:10px;color:#000}
.board td p{position:absolute;top:21px;left:26px}
.board td.green{background:green}
.board td.orange{background:orange}
.board td.red{background:red}
.board td.blue{background:blue}
.board td.black{background:black}
.board .wrap_tile ul{overflow:hidden;height:106px}
.board .wrap_tile li{float:left;width:100px;height:106px}
.board .wrap_tile .tile{width:70px;height:70px}
.board .select_engine{position:absolute;top:40px;left:480px}
.board .select_engine input{width:140px;height:70px}
.board .wrap_tile .tile_engine,.select_engine img{width:140px;height:70px}
.board .wrap_tile .selected_engine{top:307px;left:790px}
.board .wrap_tile .tile_way_1{top:447px;left:790px}
.board .wrap_tile .tile_way_2{top:447px;left:860px}
.board .wrap_tile .tile_way_3{top:517px;left:790px}
.board .wrap_tile .tile_way_4{top:517px;left:860px}
.board .wrap_tile .tile_way_5{top:587px;left:790px}
.board .wrap_tile .tile_way_6{top:587px;left:860px}
.board .wrap_tile .tile_black{top:727px;left:790px}
#player_board .empty{float:left;position:relative;width:70px;height:70px;border:1px solid #272822}
#player_board .empty span{position:absolute;top:-2px;left:2px;font-size:10px}
#player_board .none{border:0}
#player_board .wall{background:#c7c7c7}
#player_board .tile{width:70px;height:70px}


.board .drag{position:absolute;z-index:50;cursor:move}
.board .saved{display:none}
.layer_action{display:none;position:absolute;border:1px solid #272822;background:#fff;padding:10px}
.layer_action a{display:inline-block;border:1px solid #272822;text-align:center;padding:5px;margin:10px auto 0}
.layer_action.show{display:block}

.rotate_1{transform:rotate(90deg)}
.rotate_2{transform:rotate(180deg)}
.rotate_3{transform:rotate(270deg)}
.tile_engine.rotate_1,.tile_option.rotate_1{transform:rotate(90deg) translate(35px,35px)}
.tile_engine.rotate_3,.tile_option.rotate_3{transform:rotate(270deg) translate(-35px,-35px)}
.select_board h3{padding:30px 0}
.select_board li{display:inline-block;margin:0 10px 10px 0}
.select_board li p{text-align:center;font-weight:bold;padding-bottom:5px}
.select_board li img{width:200px;height:200px;border:2px solid #BCBCAF}
.select_board li a.on img{border:2px solid #7D2232}
.layer_start{display:none;position:absolute}
.layer_start input{background:rgba(0,0,0,.5);color:#fff;border:0;cursor:pointer;width:100px;height:100px;font-size:30px}

.board_a_classic tr:nth-child(8) td:nth-child(1),.board_a_classic tr:nth-child(9) td:nth-child(1),.board_a_classic tr:nth-child(9) td:nth-child(2){border:0}
.board_a_classic tr:nth-child(8) td:nth-child(1) span,.board_a_classic tr:nth-child(9) td:nth-child(1) span,.board_a_classic tr:nth-child(4) td:nth-child(5) span,.board_a_classic tr:nth-child(9) td:nth-child(2) span,.board_a_classic tr:nth-child(10),.board_a_classic td:nth-child(10){display:none}
.board_a_classic tr:nth-child(4) td:nth-child(5){background:#c7c7c7}

.board_b_classic tr:nth-child(1) td:nth-child(1),.board_b_classic tr:nth-child(1) td:nth-child(2),.board_b_classic tr:nth-child(9) td:nth-child(1){border:0}
.board_b_classic tr:nth-child(1) td:nth-child(1) span,.board_b_classic tr:nth-child(1) td:nth-child(2) span,.board_b_classic tr:nth-child(9) td:nth-child(1) span,.board_b_classic tr:nth-child(5) td:nth-child(5) span,.board_b_classic tr:nth-child(10),.board_b_classic td:nth-child(10){display:none}
.board_b_classic tr:nth-child(5) td:nth-child(5){background:#c7c7c7}

.board_c_classic tr:nth-child(8) td:nth-child(1),.board_c_classic tr:nth-child(8) td:nth-child(2){border:0}
.board_c_classic tr:nth-child(8) td:nth-child(1) span,.board_c_classic tr:nth-child(8) td:nth-child(2) span,.board_c_classic tr:nth-child(4) td:nth-child(6) span,.board_c_classic tr:nth-child(9),.board_c_classic tr:nth-child(10){display:none}
.board_c_classic tr:nth-child(4) td:nth-child(6){background:#c7c7c7}

.board_d_classic tr:nth-child(1) td:nth-child(1),.board_d_classic tr:nth-child(2) td:nth-child(1){border:0}
.board_d_classic tr:nth-child(1) td:nth-child(1) span,.board_d_classic tr:nth-child(2) td:nth-child(1) span,.board_d_classic tr:nth-child(5) td:nth-child(6) span,.board_d_classic tr:nth-child(9),.board_d_classic tr:nth-child(10){display:none}
.board_d_classic tr:nth-child(5) td:nth-child(6){background:#c7c7c7}

.board_e_classic tr:nth-child(9) td:nth-child(1),.board_e_classic tr:nth-child(9) td:nth-child(2),.board_e_classic tr:nth-child(9) td:nth-child(3){border:0}
.board_e_classic tr:nth-child(9) td:nth-child(1) span,.board_e_classic tr:nth-child(9) td:nth-child(2) span,.board_e_classic tr:nth-child(9) td:nth-child(3) span,.board_e_classic tr:nth-child(5) td:nth-child(5) span,.board_e_classic tr:nth-child(10),.board_e_classic td:nth-child(10){display:none}
.board_e_classic tr:nth-child(5) td:nth-child(5){background:#c7c7c7}

.board_a_expert tr:nth-child(3) td:nth-child(3) span,.board_a_expert tr:nth-child(3) td:nth-child(7) span,.board_a_expert tr:nth-child(7) td:nth-child(3) span,.board_a_expert tr:nth-child(7) td:nth-child(7) span,.board_a_expert tr:nth-child(10),.board_a_expert td:nth-child(10){display:none}
.board_a_expert tr:nth-child(3) td:nth-child(3),.board_a_expert tr:nth-child(3) td:nth-child(7),.board_a_expert tr:nth-child(7) td:nth-child(3),.board_a_expert tr:nth-child(7) td:nth-child(7){background:#c7c7c7}

.board_b_expert tr:nth-child(1) td:nth-child(5),.board_b_expert tr:nth-child(2) td:nth-child(5){border:0}
.board_b_expert tr:nth-child(1) td:nth-child(5) span,.board_b_expert tr:nth-child(2) td:nth-child(5) span,.board_b_expert tr:nth-child(3) td:nth-child(5) span,.board_b_expert tr:nth-child(9),.board_b_expert tr:nth-child(10){display:none}
.board_b_expert tr:nth-child(3) td:nth-child(5){background:#c7c7c7}

.board_c_expert tr:nth-child(1) td:nth-child(5),.board_c_expert tr:nth-child(8) td:nth-child(5),.board_c_expert tr:nth-child(9) td:nth-child(5){border:0}
.board_c_expert tr:nth-child(1) td:nth-child(5) span,.board_c_expert tr:nth-child(2) td:nth-child(5) span,.board_c_expert tr:nth-child(8) td:nth-child(5) span,.board_c_expert tr:nth-child(9) td:nth-child(5) span,.board_c_expert tr:nth-child(10),.board_c_expert td:nth-child(10){display:none}
.board_c_expert tr:nth-child(2) td:nth-child(5){background:#c7c7c7}

.board_d_expert tr:nth-child(1) td:nth-child(5),.board_d_expert tr:nth-child(2) td:nth-child(5),.board_d_expert tr:nth-child(3) td:nth-child(5){border:0}
.board_d_expert tr:nth-child(1) td:nth-child(5) span,.board_d_expert tr:nth-child(2) td:nth-child(5) span,.board_d_expert tr:nth-child(3) td:nth-child(5) span,.board_d_expert tr:nth-child(4) td:nth-child(5) span,.board_d_expert tr:nth-child(10),.board_d_expert td:nth-child(10){display:none}
.board_d_expert tr:nth-child(4) td:nth-child(5){background:#c7c7c7}

.board_e_expert tr:nth-child(3) td:nth-child(6) span,.board_e_expert tr:nth-child(6) td:nth-child(3) span,.board_e_expert tr:nth-child(6) td:nth-child(8) span,.board_e_expert tr:nth-child(9),.board_e_expert tr:nth-child(10){display:none}
.board_e_expert tr:nth-child(3) td:nth-child(6),.board_e_expert tr:nth-child(6) td:nth-child(3),.board_e_expert tr:nth-child(6) td:nth-child(8){background:#c7c7c7}